@media (max-width: 767px) {
  .phone {
    img {
      display: none;
    }
  }
  .slogan-header {
    line-height: 50px;
  }
  .input-container {
    max-width: 100%;
  }
}

@media(min-width: 768px) and (max-width: 1199px) {
  .phone {
    img {
      display: none;
    }
  }
  .slogan-header {
    line-height: 50px;
  }
  .input-container {
    max-width: 100%;
  }
  .article-1,
  .article-2,
  .article-3,
  .article-4,
  .article-6,
  .article-7 {
    width: 50%;
  }
  .article-5 {
    width: 100%;
  }
}

@media(min-width: 1200px) and (max-width: 1290px) {
  .phone {
    img {
      right: 0;
    }
  }
}
