@media (max-width: 767px) {
  .phone {
    img {
      display: none;
    }
  }
  .slogan-header {
    line-height: 50px;
  }
  .input-container {
    max-width: 100%;
  }
}

@media(min-width: 768px) and (max-width: 1199px) {
  .phone {
    img {
      display: none;
    }
  }
  .slogan-header {
    line-height: 50px;
  }
  .input-container {
    max-width: 100%;
  }
}
